_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
_NEW/WebApplication1/WebApplication1/bin/Debug/net5.0/WebApplication1.dll
_NEW/WebApplication1/WebApplication1/bin/Debug/net5.0/WebApplication1.pdb
_NEW/WebApplication1/WebApplication1/bin/Debug/net5.0/WebApplication1.runtimeconfig.dev.json
_NEW/WebApplication1/WebApplication1/bin/Debug/net5.0/WebApplication1.Views.dll
_NEW/WebApplication1/WebApplication1/bin/Debug/net5.0/WebApplication1.Views.pdb
_NEW/WebApplication1/WebApplication1/obj/project.assets.json
_NEW/WebApplication1/WebApplication1/obj/project.nuget.cache
_NEW/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
_NEW/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/project.razor.json
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.assets.cache
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.csproj.CoreCompileInputs.cache
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.csproj.FileListAbsolute.txt
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.csprojAssemblyReference.cache
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.dll
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.genruntimeconfig.cache
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.pdb
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.RazorCoreGenerate.cache
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.Views.dll
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/WebApplication1.Views.pdb
_NEW/WebApplication1/WebApplication1/obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
