@page
@model WebApplication1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/19009d6c71.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>PDF Editor</title>
</head>
<body>
    <div class="application-container">
        <!-- Header Section -->
        <header class="header">
            <h1>PDF Editor +</h1>
        </header>
        <!-- Toolbar Section -->
        <div class="toolbar">

            <div class="toolkit" id="toolbar1">
            <div class="toolkit-title-container">
                    <h1>Text</h1>
                </div>
                <div id="text-controls-container">
                    <select name="fonts" id="fonts-input">
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Roboto">Roboto</option>
                        <option value="Montessorat">Montessorat</option>
                    </select>
                    <input type="number" name="number" id="number-input" value="14">
                    <div class="color-container">
                        <input type="color" name="color" id="color-picker" value="#fff">
                    </div>
                </div>
            </div>

            <div class="toolkit" id="toolbar2">
                <div class="toolkit-title-container">
                    <h1>Media</h1>
                </div>
                <div class="media-controls-container">
                    <button class="media-icon" id="file-button">
                        <i class="fas fa-file blueiconcolor" id="file-icon"></i>
                    </button>
                    <button class="media-icon" id="audio-button">
                        <i class="fas fa-play" id="audio-icon"></i>
                    </button>
                    <button class="media-icon" id="video-button">
                        <i class="fas fa-video" id="video-icon"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="main">
            <iframe src="https://pdf-lib.js.org/assets/with_update_sections.pdf" frameborder="1" width="100%" height="100%"></iframe>
        </div>
       
    </div>


    <!--Choose an Audio File Modal-->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="exit-container">
                <span class="close">&times;</span>
            </div>
            <div class="audio-file-table">
                <table>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>

            @foreach (var audio in Model.Audios)
            {
                <tr>
                    <td>@audio.Id</td>
                    <td>@audio.Name</td>
                </tr>
            }
        </table>
            </div>
            
            
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
