* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Palanquin', sans-serif;
    color: #30333A;
}

.application-container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: .05fr .2fr auto;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-areas: "header header header" "toolbar toolbar toolbar" ". main .";
    background-color: rgb(195, 195, 195);
}
/* Header */
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #989A98;
    background-color: #F16A53;
}

/* Toolbar */
.toolbar {
    grid-area: toolbar;
    display: flex;
    background-color: #B8ABA4;
    box-shadow: 2.5px 5px #989A98;
    border-bottom: 1px solid #989A98;
}
#media-selector{
    min-width: 100%;
    display: block;
    border-bottom: 3px solid black;
}
.toolkit {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #989A98;
}

.toolkit-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .toolkit-title-container > h1 {
        font-size: .75rem;
        align-self: flex-end;
    }

#text-controls-container {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 0 5px;
}

    #text-controls-container > select {
        margin-right: 5px;
    }

.color-container {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    padding-left: 5px;
}

.media-controls-container {
    height: 50%;
    min-width: 60%;
    width: auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-icon {
    min-width: 33%;
    height: 100%;
    background-color:  rgb(195, 195, 195);
    margin: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.media-icon:hover{
    background-color: #D2C5BE;
}
.media-icon:hover .tooltip{
    visibility: visible;
    top: 20%;
}
.tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
#file-icon {
    color: teal;
}

#video-icon {
    color: orangered;
}

#audio-icon {
    color: palevioletred;
}
#new-pdf-icon{
    color: rgb(97, 156, 97);
}
#save-pdf-icon{
    color: blue
}
#open-pdf-icon{
    color: red;
}
#upload-pdf-icon{
    color: darkslategray;
}
#start-recording-icon{
    color: red;
    display: block;
    font-size: 2em;
    width: 100%;
}

#stop-recording-icon{
    color: orange;
    display: block;
    font-size: 2em;
    width: 100%;
}
#open-recording-icon{
    color: blue;
    display: block;
    font-size: 2em;
    width: 100%;
}

#save-audio-button {
    box-sizing: border-box;
    width: 5rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    text-align: center;
    line-height: 1.1;
    cursor: pointer;
}

#save-recording-icon {
    color: red;
    display: block;
    font-size: 1em;
    width: 15%;
}

.recording-active{
    color: red
}

.save-controls-container {
    width: 100%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.save-button {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.save-icon {
    background-color: #F7F7F6;
    width: 75%;
    height: 50%;
    padding-left: 5px;
    color: black;
    text-align: center;
}

    .save-icon > i {
        color: lime;
    }

#number-input {
    width: 30px;
}

/* Main */
.main {
    grid-area: main;
    grid-column: 1/span 4;
    margin: 15px 25px;
    padding: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 80%;
    min-height: 300px;
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 5px -2.5px #989A98;

}
#youtube-search-bar {
    align-self: center;
}

.video-container {
    height: 100%;
    width: 97.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 0px 15px;
    background-color: #30333A;
    border-radius: 5px;
}
#youtube-video{
    width: 100%;
}
.youtube-url-control{
    display: none;
    width: 80%;
    text-align: center;
    padding: 5px;
}
#url-control-button{

}
#youtube-search-bar{
    min-height: 25px;
    width: 80%;
}
.yt-button{
    padding: 5px 15px;
    background-color:  #eeeeee;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#youtube-search-button{
    background-color: #fefefe;
    padding: 5px;
    margin: 5px auto;
    min-width: 15%;
}
.recording-buttons-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.recording-buttons-container>button{
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    text-align: center;
    line-height: 1.1;
    cursor: pointer;
    }

/*Modal*/
.exit-container{
    max-width: fit-content;
    position: absolute;
    top: 0;
    right: 4px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    flex-direction: column;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    position: relative;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}
#modal-header{
    background-color:#F16A53;
    text-align: center;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

.audio-file-table{
    width: 100%;
    height: 100%;
}

.audio-file-table>table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.audio-file-table>th{
    min-height: 45px;
}

.audio-file-table>table, th, td {
    border: 1px solid black;
}

.file-in-db{
    border: none;
    background: none;
    cursor: pointer;
    color: blue;
}